.contentAuth {
    position: fixed;
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 10px;
    padding: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    height: 350px;
    width: 300px;
    background-color: bisque;
}

.button, .mainButton {
    min-width: 6em;
    padding: 2px 15px;
    width: fit-content;
    height: 2.2em;
    background-color: #6DCAFF;
    border: none;
    color: white;
    border-radius: 18px;
    font-weight: bold;
}
/* .button:hover, .mainButton:hover{
    background-color: #2DB3FF;
}
.button:focus, .mainButton:focus{
    background-color: #14a9ff;
} */

.mainButton{
    margin-left: 25px;
}

.deletionButton{
    position: relative;
    left: 102%;
    bottom: 21px;
    width: 23px;
    height: 23px;
}

input{
    display: flex;
}