.header, nav, nav > ul {
    display: flex;
    align-items: center;
    font-size: 16px;
}

.header {
    width: 100%;
    border-bottom: 1px solid;
    border-bottom-color: #868686;
    padding: 5px 0px;
    justify-content: space-between;
    position: fixed;
    top: 0;
    background-color: white; 
}

nav > ul {
    padding: 0;
    margin: 0;
}
nav {
    gap: 45px;
    margin-right: 7vh;
}

.logo{
    width: 18vh;
    height: 7vh;
    margin-left: 7vh;
}

.img {
    width: 20px;
    height: 20px;
    padding: 0px 5px;
}

a {
    text-decoration: none;
    color: #000;
    transition: background-color 0.6s;
}
a:hover {
    border-bottom: 1px solid;
    border-bottom-color: #888888;
}
a:active {
    background-color: #bce7ff;
    border-radius: 3px;
}

